@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-upload-button::-webkit-file-upload-button {
	background-color: black;
	color: white;
	font-weight: bold;
	outline: 0;
	border: 0;
	padding: 2;
	border-radius: 15px;
}

.custom-upload-button::placeholder {
	color: #cccccc;
}
